body {
    font-family: 'Playfair Display', serif;
    color: #333;
    background: #900C3F;
    margin: 0; 
    padding: 0; 
}

img {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    width: 50%; 
    border-radius: 10px; 
}

body::after {
    content: ""; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: -1; 
}

.container {
    max-width: 800px; 
    margin: 0 auto; 
}

h1:first-of-type {
    color: #f2f2f2; 
    text-align: center; 
    padding: 20px 0; 
}

#my-hometown h1 {
    color: ##C70039      ; 
}

.box {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
    margin: 30px; 
    padding: 20px; 
}

h1, h2 {
    color: #fff; 
    text-align: center; 
}

img {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    width: 50%; 
    border-radius: 10px; 
}

.content {
    opacity: 0; 
}

.fade-in {
    animation: fadeIn ease 3s; 
}

@keyframes fadeIn {
    0% {opacity:0;} 
    100% {opacity:1;} 
}

p {
    text-align: justify;
    color: #fff; 
    line-height: 1.6;
}

a {
    color: #848FA5; 
    text-decoration: none; 
}

a:hover {
    color: #68748D; 
}


a:visited {
    color: #C70039; 
}

a:active {
    color: #C70039; 
}

ul {
    list-style-type: none; 
}

.social-icons-container {
    text-align: center;
}

.social-icons {
    list-style-type: none;
    display: inline-block;
}

.social-icons li {
    display: inline;
    margin: 0 0px;
}


.linkedin-icon {
    margin-right: 40px;
}
